@charset "UTF-8";
body {
  font-family: 'Open Sans', sans-serif !important;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

@media (max-width: 375px) {
  .container {
    max-width: 90%;
    margin: 0 10px;
  }
}

.bold {
  font-weight: bold;
}

a:visited {
  color: #800080;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a,
a:active,
a:hover {
  outline: none;
  text-decoration: none;
  color: #666;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  outline: none;
}

input {
  outline: none;
}

.first {
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  margin-left: 100px;
}

@media (max-width: 375px) {
  .first {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
  }
}

.first__first {
  display: flex;
}

@media (max-width: 375px) {
  .first__first {
    flex-wrap: wrap;
  }
}

.first__second {
  display: flex;
}

@media (max-width: 375px) {
  .first__second {
    flex-wrap: wrap;
  }
}

.first__heading {
  font-size: 4vw;
  font-weight: 800;
  width: 70%;
  margin-top: 25px;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

@media (max-width: 375px) {
  .first__heading {
    font-size: 30px;
    width: 100%;
  }
}

.imgP__first {
  width: 23%;
  margin-left: 88px;
}

@media (max-width: 375px) {
  .imgP__first {
    width: 100%;
    margin-bottom: 50px;
    margin-left: 0;
  }
}

.imgP__first img {
  margin-top: 20px;
  width: 100%;
  height: auto;
}

@media (max-width: 375px) {
  .imgP__first img {
    margin-top: 20px;
    margin-left: 0;
  }
}

.imgB__first {
  width: 33%;
  margin-left: 50px;
}

@media (max-width: 375px) {
  .imgB__first {
    margin-left: 0;
    width: 100%;
  }
}

.imgB__first img {
  width: 100%;
  height: auto;
  margin-top: 16px;
}

@media (max-width: 375px) {
  .imgB__first img {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 30px;
  }
}

.imgA__first {
  width: 70%;
}

@media (max-width: 375px) {
  .imgA__first {
    margin-top: 20px;
    width: 100%;
  }
}

.imgA__first img {
  width: 100%;
  height: auto;
}

.p__first {
  text-align: right;
}

@media (max-width: 375px) {
  .p__first {
    text-align: left;
    margin-top: 5px;
    font-size: 12px;
    margin-right: 20px;
  }
}

.first__text {
  width: 65%;
  font-size: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
}

@media (max-width: 375px) {
  .first__text {
    width: 100%;
    margin-right: 10px;
    font-size: 15px;
  }
}

.second {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

@media (max-width: 375px) {
  .second {
    display: none;
  }
}

@media (max-width: 375px) {
  .second {
    margin-left: 15px;
  }
}

@media (max-width: 375px) {
  .second p {
    font-size: 13px;
  }
}

.second__imgV img {
  width: 80%;
  height: auto;
}

.second__imgG img {
  width: 100%;
  height: auto;
}

.second__imgG {
  width: 60%;
  align-self: flex-end;
  margin-top: 45px;
}

.second__imgA img {
  width: 80%;
  height: auto;
  margin-top: 60px;
}

.second__imgM img {
  width: 100%;
  height: auto;
}

.second__imgM {
  width: 60%;
  align-self: flex-end;
  margin-top: 45px;
}

.second__text {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

@media (max-width: 375px) {
  .second__text {
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.second__textB {
  font-size: 20px;
  max-width: 50%;
  letter-spacing: 1.55;
}

@media (max-width: 375px) {
  .second__textB {
    margin-left: 15px;
    max-width: 100%;
    font-size: 15px;
  }
}

.second__textB p {
  padding-bottom: 10px;
}

.second__textS {
  font-size: 16px;
  max-width: 25%;
  height: 200px;
  padding-top: 60px;
}

@media (max-width: 375px) {
  .second__textS {
    margin-left: 15px;
    font-size: 14px;
    max-width: 100%;
    padding-top: 15px;
  }
}

.second__mobile-version {
  display: none;
}

@media (max-width: 375px) {
  .second__mobile-version {
    display: block;
    height: 300px;
  }
}

.block__painter {
  margin-left: 100px;
}

@media (max-width: 375px) {
  .block__painter {
    margin-left: 10px;
    margin-right: 15px;
  }
}

.painter__heading {
  font-size: 46px;
}

@media (max-width: 375px) {
  .painter__heading {
    font-size: 18px;
    line-height: 1.2;
  }
}

.painter__imgAD {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  margin-top: 100px;
  transition: 1s;
}

@media (max-width: 375px) {
  .painter__imgAD {
    width: 100%;
    height: auto;
    margin-top: 0;
  }
}

.painter__info {
  font-size: 20px;
  margin-top: 20px;
  max-width: 54%;
}

@media (max-width: 375px) {
  .painter__info {
    max-width: 100%;
    font-size: 15px;
  }
}

.painter__info span {
  font-weight: 700;
}

.painter__info p {
  margin-bottom: 8px;
  line-height: 1.5;
}

@media (max-width: 375px) {
  .painter__info p {
    line-height: 1.2;
  }
}

.block {
  max-width: 80%;
  margin-left: 100px;
  margin-top: 50px;
}

@media (max-width: 375px) {
  .block {
    margin-top: 40px;
    margin-left: 10px;
    max-width: 667px;
  }
}

@media (max-width: 375px) {
  .block__info img {
    width: 100%;
    height: auto;
  }
}

.block p {
  font-size: 20px;
  margin-bottom: 10px;
  width: 80%;
}

@media (max-width: 375px) {
  .block p {
    font-size: 15px;
    width: 100%;
  }
}

.block__info {
  display: flex;
  background-color: #f2f2f2;
  margin-bottom: 100px;
  margin-top: 40px;
  line-height: 1.5;
}

@media (max-width: 375px) {
  .block__info {
    display: flex;
    flex-direction: column;
    margin-right: 24px;
  }
}

.block__info img {
  width: 50%;
  height: auto;
}

@media (max-width: 375px) {
  .block__info img {
    width: 100%;
  }
}

.infoBlock {
  font-size: 20px;
  padding: 40px;
  align-self: center;
}

@media (max-width: 375px) {
  .infoBlock {
    padding: 10px;
    font-size: 15px;
  }
}

.infoBlock span {
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 375px) {
  .infoBlock span {
    font-size: 15px;
  }
}

.infoBlock p {
  font-size: 14px;
  padding-top: 20px;
}

@media (max-width: 375px) {
  .kabakov {
    width: 100% !important;
    height: auto !important;
  }
}

@media (max-width: 375px) {
  .picasso p {
    font-size: 22px;
    margin-bottom: 60px;
  }
  .picasso {
    margin-left: 15px;
    margin-top: 40px;
  }
  .pic__info {
    flex-flow: column;
  }
  .pic__info img {
    align-self: center;
  }
  .infoInfo {
    padding: 7px;
    font-size: 17px;
    align-self: center;
  }
}

.kandinsk {
  margin-left: 100px;
  margin-top: 50px;
}

@media (max-width: 375px) {
  .kandinsk {
    margin-left: 10px;
    margin-top: 20px;
  }
}

.kand__img {
  width: 100%;
  height: auto;
  transition: 1s;
  margin-left: 0;
}

@media (max-width: 375px) {
  .kand__img {
    width: 100%;
    height: auto;
  }
}

.kandinsk .painter__heading {
  margin-left: -2px;
}

.other {
  margin-left: 55px;
  max-width: 680px;
}

@media (max-width: 375px) {
  .other {
    margin-left: 20px;
  }
}

.squre {
  margin-left: 100px;
  margin-top: 25px;
}

@media (max-width: 375px) {
  .squre {
    margin-left: 10px;
  }
}

.squre__img {
  width: 100%;
  height: auto;
  margin-top: 100px;
  transition: 1s;
}

@media (max-width: 375px) {
  .squre__img {
    width: 100%;
    height: auto;
  }
}

.squre__info {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

@media (max-width: 375px) {
  .squre__info {
    flex-direction: column;
  }
}

.squre__infoB p {
  font-size: 20px;
  margin-bottom: 10px;
  max-width: 800px;
  line-height: 1.5;
}

@media (max-width: 375px) {
  .squre__infoB p {
    font-size: 15px;
  }
}

.squre__infoS {
  font-size: 16px;
  width: 300px;
  align-self: flex-end;
  padding-bottom: 100px;
  padding-right: 105px;
}

@media (max-width: 375px) {
  .squre__infoS {
    width: 100%;
    padding-right: 0;
    font-size: 15px;
    padding-bottom: 20px;
  }
}

.squre__gallery {
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 50px;
}

@media (max-width: 375px) {
  .squre__gallery {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 375px) {
  .squre__gallery p {
    font-size: 13px;
  }
}

.squre__gallery img {
  width: 72%;
  height: auto;
}

@media (max-width: 375px) {
  .squre__gallery img {
    width: 100%;
  }
}

.squre__infoSN {
  width: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 50px;
}

@media (max-width: 375px) {
  .squre__infoSN {
    align-self: flex-end;
    font-size: 15px;
    padding-bottom: 0;
  }
}

.squre__infoSN a {
  padding-bottom: 50px;
}

@media (max-width: 375px) {
  .squre__infoSN a {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

@media (max-width: 375px) {
  .squre__infoB p {
    max-width: 365px;
  }
}

@media (max-width: 375px) {
  iframe {
    width: 100%;
    height: auto;
  }
}

.squre__video {
  margin-top: 25px;
}

.video_name {
  font-size: 20px;
  margin-bottom: 10px;
}

@media (max-width: 375px) {
  .video_name {
    font-size: 15px;
  }
}

.squre__video div {
  font-size: 20px;
  max-width: 60%;
  margin-top: 50px;
  line-height: 1.5;
}

@media (max-width: 375px) {
  .squre__video div {
    font-size: 15px;
    max-width: 100%;
    margin-top: 15px;
  }
}

@media (max-width: 375px) {
  .squre__video p {
    font-size: 13px;
  }
}

.piss__img {
  width: 90%;
  height: auto;
  margin-top: 100px;
  transition: 1s;
}

@media (max-width: 375px) {
  .piss__img {
    width: 100%;
    height: auto;
    margin-top: 70px;
  }
}

.squre__infoP {
  width: 20%;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

@media (max-width: 375px) {
  .squre__infoP {
    width: 100%;
    font-size: 15px;
  }
}

.box__img {
  width: 90%;
  height: auto;
  margin-top: 100px;
  transition: 1s;
}

@media (max-width: 375px) {
  .box__img {
    width: 100%;
    height: auto;
    margin-top: 70px;
  }
}

.aA {
  margin-bottom: -400px;
}

@media (max-width: 375px) {
  .aA {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.link__box {
  width: 270px;
}

@media (max-width: 375px) {
  .link__box {
    margin-top: 20px;
    font-size: 15px;
  }
}

.toSpace {
  width: 40%;
  height: auto;
  margin-top: 40px;
  font-size: 16px;
}

@media (max-width: 375px) {
  .toSpace {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .toSpace-text {
    font-size: 13px;
  }
}

@media (max-width: 375px) {
  .third {
    margin-left: 0;
    margin-top: 0;
  }
}

@media (max-width: 375px) {
  .third__imgAD {
    width: 365px;
    height: 365px;
  }
}

@media (max-width: 375px) {
  .third__heading {
    font-size: 30px;
    margin-left: 20px;
  }
}

@media (max-width: 375px) {
  .third__info {
    font-size: 17px;
    margin-left: 10px;
  }
}

.third__pic {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

@media (max-width: 375px) {
  .third__pic p {
    font-size: 13px;
  }
}

@media (max-width: 375px) {
  .third__pic {
    flex-direction: column;
    margin-left: 0;
  }
}

.name {
  font-size: 20px;
  max-width: 400px;
  margin-bottom: 20px;
}

@media (max-width: 375px) {
  .name {
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
}

.th__img1 {
  width: 30%;
}

@media (max-width: 375px) {
  .th__img1 {
    width: 100%;
  }
}

.th__img2 {
  width: 40%;
}

@media (max-width: 375px) {
  .th__img2 {
    width: 100%;
  }
}

.th__img3 {
  width: 15%;
}

@media (max-width: 375px) {
  .th__img3 {
    width: 100%;
  }
}

.th__img1 img {
  width: 100%;
  height: auto;
}

.th__img2 img {
  width: 100%;
  height: auto;
  margin: 0 10px;
}

@media (max-width: 375px) {
  .th__img2 img {
    margin: 15px 0;
    width: 100%;
    height: auto;
  }
}

.th__img3 {
  margin-top: 50px;
}

@media (max-width: 375px) {
  .th__img3 {
    margin-top: 10px;
  }
}

.toilet {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 250px;
}

@media (max-width: 375px) {
  .toilet {
    margin-left: 5px;
  }
}

.toilet img {
  width: 85%;
  height: auto;
}

.blockChange {
  margin-left: 0;
}

.mini_info {
  font-size: 20px;
  max-width: 800px;
  line-height: 1.5;
}

.akula__img {
  width: 110%;
  height: auto;
  margin-bottom: 25px;
  transition: 1s;
}

@media (max-width: 375px) {
  .akula__img {
    width: 100%;
    height: auto;
    margin-left: 5px;
    margin-bottom: 0;
  }
}

.herst {
  align-self: flex-end;
  margin-bottom: 50px;
}

@media (max-width: 375px) {
  .herst {
    font-size: 15px;
    margin-bottom: 0;
  }
}

.block__akula {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-left: 100px;
}

@media (max-width: 375px) {
  .block__akula {
    flex-direction: column;
    margin-left: 5px;
  }
}

.box__akula-mini {
  width: 55%;
  height: auto;
}

.box__becon {
  width: 45%;
  height: auto;
}

@media (max-width: 375px) {
  .akulaMini {
    width: 100%;
    height: auto;
  }
  .becon {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  .box__akula-mini {
    width: 100%;
    height: auto;
  }
  .box__becon {
    width: 100%;
    height: auto;
  }
  .block__akula-text {
    font-size: 13px;
  }
}

.end {
  margin: 200px auto;
  max-width: 55%;
  background-color: #f9f7de;
  padding: 50px;
  padding-bottom: 100px;
  font-size: 22px;
  line-height: 1.5;
}

@media (max-width: 375px) {
  .end {
    max-width: 100%;
    padding: 30px;
    padding-bottom: 50px;
    margin-left: 10px;
    font-size: 15px;
  }
}

.end__li {
  list-style: none;
  padding-left: 50px;
  margin-top: 8px;
  position: relative;
}

@media (max-width: 375px) {
  .end__li {
    padding-left: 20px;
  }
}

@media (max-width: 375px) {
  .end__li::before {
    position: absolute;
    content: "—";
    left: 0;
  }
}

.footer {
  margin-left: 100px;
}

@media (max-width: 375px) {
  .footer {
    margin-left: 20px;
  }
}

.footer p {
  font-size: 18px;
  margin-top: 5px;
}

@media (max-width: 375px) {
  .footer p {
    font-size: 15px;
  }
}

.special {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer div {
  margin-top: 50px;
  margin-bottom: 50px;
}
/*# sourceMappingURL=style.css.map */