body {
    font-family: 'Open Sans', sans-serif !important;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80%;
    margin: 0 auto;

    @include mobile {
        max-width: 90%;
        margin: 0 10px;
    }
}

.bold {
    font-weight: bold;
}

a:visited {
    color: #800080;
}