.kandinsk {
    margin-left: 100px;
    margin-top: 50px;

    @include mobile {
        margin-left: 10px;
        margin-top: 20px;
    }
}

.kand__img {
    width: 100%;
    height: auto;
    transition: 1s;
    margin-left: 0;

    @include mobile {
        width: 100%;
        height: auto;
    }
}

.kandinsk .painter__heading {
    margin-left: -2px;
}

.other {
    margin-left: 55px;
    max-width: 680px;

    @include mobile {
        margin-left: 20px;
    }
}