.second {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;

    @include mobile {
        margin-left: 15px;
    }

    p {
        @include mobile {
            font-size: 13px;
        }
    }
}

.second__imgV img {
    width: 80%;
    height: auto;

    @include mobile {
        width: 90%;
    }
}

.second__imgG img {
    width: 800px;
    height: auto;

    @include mobile {
        width: 350px;
        height: auto;
    }
}

.second__imgG {
    align-self: flex-end;
    margin-right: 150px;
    margin-top: 45px;

    @include mobile {
        align-self: flex-start;
    }
}

.second__imgA img {
    width: 80%;
    height: auto;
    margin-top: 60px;

    @include mobile {
        width: 90%;
    }
}

.second__imgM img {
    width: 800px;
    height: auto;

    @include mobile {
        width: 350px;
        height: auto;
    }
}

.second__imgM {
    align-self: flex-end;
    margin-right: 130px;
    margin-top: 45px;

    @include mobile {
        align-self: flex-start;
    }
}

.second__text {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

    @include mobile {
        flex-direction: column;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.second__textB {
    font-size: 20px;
    max-width: 50%;
    letter-spacing: 1.55;

    @include mobile {
        margin-left: 15px;
        max-width: 100%;
        font-size: 16px;
    }
}

.second__textB p {
    padding-bottom: 10px;
}

.second__textS {
    font-size: 16px;
    max-width: 25%;
    height: 200px;
    padding-top: 60px;

    @include mobile {
        margin-left: 15px;
        font-size: 14px;
        max-width: 100%;
        padding-top: 15px;
    }
}